
html, body {
    width: 100%;
    margin: 0;
    background-color: white;
    font-family: Arial, sans-serif;
}

input:focus, textarea:focus {
    outline: none;
}

.grey {
    color: #8c98a4;
}

.blue {
    color: #0052ea;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.center-vertically {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.btn {
    height: 40px;
    padding: 0 28px;
    background-color: #0052ea;
    border-radius: 0.75rem;
    box-shadow: 0 6px 12px rgba(140, 152, 164, .075);
    transition: 0.3s;
}

.btn:hover {
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 6px 12px rgba(140,152,164,.325);
}

.btn p {
    margin: 0;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
}

.bloc {
    position: relative;
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 0 6px 12px rgba(140,152,164,.075);
    border-radius: .75rem;
    overflow: hidden;
    transition: 0.3s;
}

.bloc:hover {
    transition: 0.3s;
    box-shadow: 0 6px 12px rgba(140,152,164,.325);
}

.bloc-header {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.bloc-header h2 {
    padding: 4px 16px;
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.bloc-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
}

.bloc-footer p {
    font-size: 12px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ddd;
    display: flex;
    padding: 0 10%;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 10;
}

header .logo {
    height: 40px;
    margin-top: 10px;
}

header .search-bloc {
    width: 50%;
    max-width: 600px;
}

header #search_input_container {
    width: 100%;
    position: relative;
}

header .search-field {
    width: calc(100% - 44px);
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
    border: 1px solid transparent;
    font-size: 16px;
    border-radius: 8px;
    padding: 0 12px;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.6);
}

header .search-field:hover, header .search-field:focus {
    background-color: rgba(235, 235, 235, 0.6);
    transition: 0.3s;
}

header .search-field:focus {
    border: 1px solid #ddd;
}

header #search_form_loader {
    width: 34px;
    height: 34px;
    position: absolute;
    right: 12px;
    top: 14px;
    border-radius: 50%;
}

header #search_form_loader #search-field-loader {
    display: none;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 50%;
    border: 2px solid #ddd;
    border-top: 2px solid #999;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.no-cities {
    width: 60%;
    height: calc(100vh - 210px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.no-cities img {
    width: 100%;
}

.content {
    width: 80%;
    min-height: calc(100vh - 190px);
    margin: 60px auto 0;
    padding-top: 10px;
}

.search-results::-webkit-scrollbar {
    display: none;
}

.search-results {
    width: calc(100% - 20px);
    overflow-y: scroll;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0.75rem;
    margin-left: 20px;
    margin-top: 6px;
    background-color: white;
    max-height: 400px;
    z-index: 2;
}

.search-results .result {
    padding: 6px 20px;
    border: 1px solid #ddd;
    border-bottom: none;
    display: flex;
    transition: 0.3s;
}

.search-results .result:hover {
    background-color: #eee;
    cursor: pointer;
    transition: 0.3s;
}

.search-results .result:first-child {
    border-top: none;
}

.search-results .result .name {
    width: 40%;
    max-width: 350px;
    text-overflow: ellipsis;
}

.stats #city_stats_loader_container {
    width: 64px;
    height: 64px;
    position: absolute;
    right: 12px;
    top: 14px;
    border-radius: 50%;
}

.stats #city_stats_loader_container #city-stats-loader {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 50%;
    border: 2px solid #ddd;
    border-top: 2px solid #999;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

.stats .stats-header {
    display: flex;
    justify-content: space-between;
}

.stats .toolbar {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.stats .toolbar .switch-comparison {
    width: fit-content;
    display: flex;
    background-color: #eee;
    border-radius: 0.75rem;
    margin: 10px 0;
}

.stats .switch-comparison .switch-btn {
    padding: 6px 20px;
    cursor: pointer;
    border-radius: 0.25rem;
}

.stats .switch-comparison .switch-btn:first-child {
    margin-right: 10px;
}

.stats .switch-comparison .switch-btn p {
    color: #8c98a4;
    margin: 0;
}

.stats .switch-comparison .switch-btn-active {
    background-color: #0052ea;
    transition: 0.3s;
    box-shadow: 0 6px 12px rgba(140,152,164,.325);
}

.stats .switch-comparison .switch-btn-active p {
    color: white;
}

.stats .toolbar .gradient-container {
    position: relative;
    display: flex;
    width: 120px;
    height: 20px;
}

.stats .toolbar .gradient-container .gradient {
    width: 80px;
    height: 10px;
    margin-top: 20px;
    background: linear-gradient(to right, rgb(0, 200, 0), rgb(255, 0, 0));
    border-radius: 0.75rem;
}

.stats .toolbar .gradient-container #gradient-explanations {
    display: block;
    font-size: 12px;
    border: 1px solid #aaa;
    margin: 16px 0 0 16px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
}

.stats .toolbar .gradient-container #gradient-explanations p {
    margin: 0;
    color: #aaa;
}

.stats .toolbar .gradient-container #gradient-explanations-content {
    display: none;
    position: absolute;
    right: -400px;
    width: 400px;
    background: white;
    border-radius: 0.75rem;
    z-index: 3;
}

.stats .toolbar .gradient-container #gradient-explanations-content p {
    margin: 12px;
    line-height: 1.5;
    font-size: 13px;
    color: #677788;
}

.stats .toolbar .gradient-container #gradient-explanations:hover ~ #gradient-explanations-content {
    display: block;
}

.stats .top {
    display: flex;
    justify-content: space-between;
}

.stats .top .left {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.stats .top .left .stat {
    position: relative;
    width: 250px;
    min-height: 100px;
    padding: 6px 12px;
    margin: 6px;
}

.stats .top .left .stat-full {
    width: 100%;
    cursor: pointer;
}

.stats .top .left .stat-full > * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.stats .top .left .stat-column {
    width: 47%;
    padding: 0;
}

.stats .top .left .stat .number {
    position: absolute;
    bottom: 10px;
    right: 12px;
    text-align: right;
    margin: 0;
    font-size: 28px;
    transition: 0.3s;
}

.stats .top .left .stat-full .number {
    font-size: 42px;
}

.stats .top .left .stat-column .number {
    bottom: auto;
    top: 10px;
}

.stats .top .left .stat-column .stat {
    width: 86%;
    margin: 6px auto;
    cursor: pointer;
}

.stats .top .left .stat-column .stat > *{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.stats .top .left .stat-column .stat .number {
    bottom: 10px;
    top: auto;
}

.stats .top .right {
    width: 48%;
}

.stats .top .right .explain {
    margin-top: 6px;
    height: 426px;
}

.stats .top .right .explain h3 {
    color: black;
    margin-left: 16px;
}

.stats .top .right .explain p {
    margin: 16px;
}

.stats .top .right .explain ul li {
    margin-top: 4px;
    margin-bottom: 4px;
}

.stats .top .right .explain .bloc-footer p {
    margin: 0 0 0 16px;
}

.stats .show-more {
    width: 150px;
    height: 28px;
    border: 1px solid #ddd;
    border-radius: 14px;
    margin: 0 auto 20px;
    transition: 0.3s;
}

.stats .show-more p {
    margin: 0;
    text-align: center;
    font-size: 13px;
    line-height: 28px;
}

.stats .show-more:hover {
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 6px 12px rgba(140,152,164,.125);
}

.stats .more-stats {
    width: 100%;
    height: 0;
    padding-bottom: 20px;
    transform-origin: top;
    transition: 0.5s;
    overflow: hidden;
}

.stats .more-stats .bloc {
    margin: 0 10px 10px;
}

.stats .more-stats .bloc .bloc-content {
    width: 100%;
}

.stats .more-stats .bloc .bloc-content table {
    width: 100%;
}

.stats .more-stats .bloc .bloc-content table td {
    color: #677788;
    padding: 1rem 1.3125rem;
    vertical-align: top;
    border-top: .0625rem solid rgba(231,234,243,.7);
}

footer {
    width: 80%;
    height: 100px;
    background-color: #eee;
    padding: 10px 10%;
    z-index: 9;
}

footer p, footer a {
    color: #8c98a4;
    font-size: 11px;
}

@media screen and (max-width: 1439px ) {
    .stats .top .left .stat {
        width: 100%;
    }
}

@media screen and (max-width: 950px ) {
    .stats .top {
        flex-direction: column-reverse;
    }

    .stats .top .left, .stats .top .right {
        width: 100%;
    }

    .stats .top .left .stat {
        width: 250px;
    }
}

@media screen and (max-width: 720px ) {
    .search-results .result .name {
        width: 70%;
    }

    .stats .top .left .stat {
        margin: 6px 0;
        width: 100%;
    }
}
