<!DOCTYPE html>

<html lang="fr">

    <head>
        <title>Indice de fragilité numérique | INR</title>
        <link rel="stylesheet" href="http://{{ baseUrl }}/assets/css/style.css"/>
        <link rel="icon" type="image/ico" href="http://{{ baseUrl }}/assets/images/favicon.ico"/>
    </head>

    <body>

        <header id="header" class="header-extended">
            <img src="http://{{ baseUrl }}/assets/images/logo-inr.png" alt="INR" class="logo"/>

            <div class="search-bloc">
                <h1 class="header-extended-only">Rechercher l'indice de fragilité numérique d'une ville</h1>
                <div id="search_input_container"></div>
                <p class="header-explain header-extended-only">
                    L’indice de fragilité numérique révèle la probabilité que sur
                    un territoire donné, une partie significative de la population
                    ciblée se trouve en situation d’exclusion numérique. Les
                    indicateurs produits sur la base de cet indice sont donc des
                    projections de risques, qu’il convient, dans la mesure du
                    possible, de recouper par une enquête qualitative ou les
                    données d’enquêtes sociologiques.
                </p>
                <p class="header-explain header-extended-only">
                    L’indice de fragilité numérique des territoires a été produit dans le cadre de l’IncubO du SGAR
                    Occitanie avec le concours de l’ANSA en partenariat avec la Mednum, grâce au soutien du Fond de
                    transformation pour l’action publique.
                </p>
                <p class="header-explain header-extended-only">
                    Cet outil a été développé en suivant une approche éco-responsable.
                </p>

                <div id="search_result_container"></div>
            </div>

        </header>

        <div class="content stats" id="stats">
            <div id="city_statistic_container"></div>
        </div>

        <footer>
            <p>Site réalisé par <b>l'équipe 48</b>.</p>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
            <p>Ce(tte) œuvre est mise à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Licence Creative Commons Attribution -  Partage dans les Mêmes Conditions 4.0 International</a>.</p>
        </footer>

        <script type="module" src="http://{{ baseUrl }}/assets/js/main.js"></script>

    </body>

</html>
