<!DOCTYPE html>

<html lang="fr">

    <head>
        <title>Indice de fragilité numérique | INR</title>
        <link rel="stylesheet" href="/assets/css/style.css"/>
        <link rel="stylesheet" href="/assets/css/landing.css"/>
    </head>

    <body>

        <header>
            <img src="/assets/images/logo-inr.jpg" alt="INR" class="logo"/>
            <input type="text" placeholder="Rechercher un lieu" class="search-field"/>
        </header>

        <div class="no-cities">
            <img src="/assets/images/fogg-203.png" alt="Aucun lieu sélectionné">
        </div>

    </body>

</html>
