<!DOCTYPE html>

<html lang="fr">

    <head>
        <title>Indice de fragilité numérique | INR</title>
        <link rel="stylesheet" href="/assets/css/style.css"/>
    </head>

    <body>

        <header>
            <img src="/assets/images/logo-inr.jpg" alt="INR" class="logo"/>

            <div class="search-bloc">
                <div id="search_input_container"></div>
                <div id="search_result_container"></div>
            </div>

        </header>

        <div class="content stats">
            <div id="city_statistic_container"></div>
        </div>

        <script src="/assets/js/html2pdf.node.js"></script>
        <script type="module" src="/assets/js/main.js"></script>

    </body>

</html>
